<launch>
  <arg name="config_path" default = "$(find air_slam)/configs/visual_odometry/vo_tunnel_topic.yaml" />
  <arg name="dataroot" default = "/workspace/docker-workspaces/mav0" />
  <arg name="camera_config_path" default = "$(find air_slam)/configs/camera/xi35.yaml" />
  <arg name="model_dir" default = "$(find air_slam)/output" />
  <arg name="saving_dir" default = "$(find air_slam)/debug_tunnel" />

  <node name="visual_odometry" pkg="air_slam" type="visual_odometry_topic_version" output="screen" launch-prefix="xterm -e gdb -ex run --args">
    <param name="config_path" type="string" value="$(arg config_path)" />
    <param name="dataroot" type="string" value="$(arg dataroot)" />
    <param name="camera_config_path" type="string" value="$(arg camera_config_path)" />
    <param name="model_dir" type="string" value="$(arg model_dir)" />
    <param name="saving_dir" type="string" value="$(arg saving_dir)" />
  </node>

  <arg name="visualization" default="true" />
  <group if="$(arg visualization)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find air_slam)/rviz/vo.rviz" output="screen" />
  </group>    
</launch>		
